<%- include("./header.ejs"); -%>

<div> Անուն <%= data.name %> </div>
<div> Ազգանուն <%= data.azganun %> </div>
<div> Էլ․ Հասցե <%= data.mail %> </div>
<div> Տարիք <%= data.tariq %> </div>
<div> Սեռ <%= data.ser %> </div>
<div> Գախտնաբառ <%= data.password %> </div>