<%- include("./header.ejs"); -%>


<% for(var i=0;i<data.length;i++){ %>

<div class="cucak" id="cucak_<%=data[i]['id']%>">
    <div> Անուն <%= data[i]['text'] %> </div>
    <div> <!--Նկար--> <img src="/images/<%= data[i]['nkar'] %>" > </div>
    <div id="gin_<%=data[i]['id']%>" data-x="<%= data[i]['price'] %>"> Գին <%= data[i]['price'] %> </div>
    <div id="qanak_<%=data[i]['id']%>" data-x="<%= data[i]['quant'] %>"> Քանակ <%= data[i]['quant'] %> </div>
    <button class="total han " data-id="<%=data[i]['id']%>" > - </button>
    <button class="total gum " data-id="<%=data[i]['id']%>" > + </button>
    <div id="total_<%=data[i]['id']%>" data-x="<%=parseFloat( data[i]['price']) * parseFloat(data[i]['quant'])%>">
        Total <%=(parseFloat( data[i]['price']) * parseFloat(data[i]['quant'])).toFixed(2)%>
    </div>
    <div class=" button_x " data-id="<%=data[i]['id']%>"> X </div>
</div>
<% } %>



<script>

    $(document).ready(function() {



        $(".button_x").click(function(){
            var id=$(this).attr("data-id");
            //console.log(id);
            $.ajax({

                type: "POST",
                url: "/apranq/delete/",
                dataType: 'json',
                data: {id: id},
               success: function(result) {
                    $("#cucak_"+id+"").css({
                       display: "none"
                   })
               }

            })

        })

        $(".gum").click(function(){
            var id=$(this).attr("data-id");
            //console.log(id);
            $.ajax({

                type: "POST",
                url: "/apranq/gum/",
                dataType: 'json',
                data: {id: id},
                 success: function(result) {
                     var tot= $("#qanak_"+id+"").attr("data-x");

                     var a = parseFloat(tot) + 1;
                     console.log(a)
                     $("#qanak_"+id+"").attr("data-x",a)
                     $("#qanak_"+id+"").text( "Քանակ " +   a);

                     var all = $("#total_"+id+"").attr("data-x");
                     var gin = $("#gin_"+id+"").attr("data-x")
                     console.log(all)
                     var b = (parseFloat(gin) * a).toFixed(2);

                     $("#total_"+id+"").attr("data-x",b)
                     $("#total_"+id+"").text( "Total " +   b);
                 }

            })

        })

        $(".han").click(function(){
            var id=$(this).attr("data-id");
            //console.log(id);
            $.ajax({

                type: "POST",
                url: "/apranq/han/",
                dataType: 'json',
                data: {id: id},
                success: function(result) {
                    var tot= $("#qanak_"+id+"").attr("data-x");

                    var a = parseFloat(tot) - 1;
                    console.log(a)
                    $("#qanak_"+id+"").attr("data-x",a)
                    $("#qanak_"+id+"").text( "Քանակ " + a);

                    var all = $("#total_"+id+"").attr("data-x");
                    var gin = $("#gin_"+id+"").attr("data-x")
                    console.log(all)
                    var b = (parseFloat(gin) * a).toFixed(2);

                    $("#total_"+id+"").attr("data-x",b)
                    $("#total_"+id+"").text( "Total " + b);
                }

            })

        })
    })

</script>