<%- include("./header.ejs"); -%>

<% if(!msg){ %>

<div> Անուն <%= data.name %> </div>
<div> Ազգանուն <%= data.azganun %> </div>
<div> Էլ․ Հասցե <%= data.mail %> </div>
<div> Տարիք <%= data.tariq %> </div>
<div> Սեռ 
		<%if(data.ser=='1'){%>
			aghjik
		<%}else if(data.ser=='0'){%> 
			tgha
		<%}else{%> 
			esim inch
			<%}%>
 </div>

<% }else{ %>
<p> chem gtel </p>
<% } %>