<!DOCTYPE html>
<html>
<head>
<title> HP </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/stylesheets/styleus.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./icon/font-awesome.min.css" type="text/css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
</head>
<body>
<header class="poni"> 
<div class="menu_mb poni rooth">
	<div class="menu_mb_1"> 
		<img class="logo_img" src="images/logo.png" type="img/png" class="top_img">
	</div>
	<div class="menu_mb_2"> 
		<i class="fa fa-phone" aria-hidden="true"></i> 8 (800) 550-7889
	</div>
	<div class="menu_mb_3"> 
	<div class="menu_mb_3_0 menu_mb_3_1" >  </div>
	<div class="menu_mb_3_0 menu_mb_3_2" >  </div>
	<div class="menu_mb_3_0 menu_mb_3_3" > </div>
	
	</div>
</div>

<div class="flex_M"> 
	<i class="fa fa-phone-square fa-2x" aria-hidden="true"></i>Бесплатная консультация
</div>

<div class="menu_list poni rooth"> 
	<ul class="list_T">
		<li class="list_G"> РЕМОНТ НОУТБУКОВ </li>
		<li class="list_G"> РЕМОНТ ПРИНТЕРОВ </li>
		<li class="list_G"> РЕМОНТ МОНОБЛОКОВ </li>
		<li class="list_G"> РЕМОНТ КОМПЬЮТЕРОВ </li>
		<li class="list_G"> ЕЩЕ <i class="fa fa-angle-right slaq1" aria-hidden="true"></i> </li>
		<li class="list_G"> КОНТАКТЫ <i class="fa fa-angle-right slaq2" aria-hidden="true"></i> </li>
	
	</ul>

</div>
<div class="menu rooth">
	<div class="menu_indx menu_L"> <img class="logo_img" src="/images/logo.png" type="img/png" class="top_img"> </div>
	<div class="menu_indx menu_R"> 
		<div class="menu_mas <%= page == 'index' ? 'active' : '' %> " id="menu_mas_1"> РЕМОНТ НОУТБУКОВ </div>
		<div class="menu_mas <%= page == 'user' ? 'active' : '' %>" id="menu_mas_2"> РЕМОНТ ПРИНТЕРОВ </div>
		<div class="menu_mas" id="menu_mas_3"> РЕМОНТ МОНОБЛОКОВ </div>
		<div class="menu_mas" id="menu_mas_4"> РЕМОНТ КОМПЬЮТЕРОВ </div>
		<div class="menu_mas" id="menu_mas_5"> ЕЩЕ <i class="fa fa-angle-down" aria-hidden="true"></i> </div>
		<div class="menu_mas  <%= page == 'kontakt' ? 'active' : ''%> " id="menu_mas_6"> 
			<div class="kont" id="kont_1">КОНТАКТЫ</div> 
			<div class="kont" id="kont_2"><i class="fa fa-phone" aria-hidden="true"></i> 8 (800) 550-7889 

			<i class="fa fa-phone" aria-hidden="true"></i> 7 (495) 946-7889
			</div> 
		</div>
	
	</div>


</div>

<div class="payusak" >

	<a class="payusak" href="http:apranq">
		<i class="fa fa-shopping-cart" aria-hidden="true"  >  </i>
	</a>
	<div class="tiv" id="tiv">
	</div>
</div>
</header>


<script>

	$(document).ready(function() {

		$(".button_x").click(function(){
			var id=$(this).attr("data-id");
			//console.log(id);
			$.ajax({

				type: "POST",
				url: "/apranq/delete/",
				dataType: 'json',
				data: {id: id},
				success: function(result) {
					$("#tiv").css({
						display: "none"
					})
				}

			})





	})






</script>