<%- include("./header.ejs"); -%>

<div class="level_1 rooth poni">
	<div class="level_1L"> 
		<div class="level_1bottom"> Бесплатная консультация </div>
	</div>
	<div class="level_1C"> 
		<div class="level_1_text"> Техника компании HP завоевала всемирную популярность и, хотя бы одно устройство этой компании, 
		есть почти в каждом доме. Несмотря на то, что это определенно надежное оборудование, никто не застрахован от поломки. 
		Сервисный центр hp готов решить любую проблему, возникшую с продукцией фирмы.
		</div>
	</div>
	<div class="level_1R"> 
		<img class="level_1_img" src="/images/level_1.png" type="img/png">
	</div>
</div>

<div class="search">
	<div class="search_text"> <i class="fa fa-minus" aria-hidden="true"></i> ВВЕДИТЕ ЗАПРОС </div>
	<div class="search_line">
		<input class="search_in"> </input>
		<i class="fa fa-search fa-2x" aria-hidden="true"></i>
	</div>

</div>

<div class="all poni rooth">
	<div class="dzakh poni">
		<div class="dzakh_block dzakh_1"> 
			<img src="/images/dzakh1.png" type="img/png" class="dzh_bl_img">
			<div class="dzh_bl_text"> 
			<div class="dbt_1" > СЕРВИС </div>
			<div class="dbt_2" > ЭКСПРЕСС ДИАГНОСТИКА </div>
			<div class="dbt_3" > Точное выявление неисправности в минимальные сроки – от 15 минут. </div>
			</div>
		</div>
		<div class="dzakh_block dzakh_2"> 
		<img src="/images/dzakh2.png" type="img/png" class="dzh_bl_img">
			<div class="dzh_bl_text"> 
			<div class="dbt_1" > СЕРВИС </div>
			<div class="dbt_2" > КОМПЛЕКТУЮЩИЕ HP </div>
			<div class="dbt_3" > Только оригинальные запчасти и лицензионное ПО. В наличии и на заказ. </div>
			</div>
		</div>
		<div class="dzakh_block dzakh_3"> 
		<img src="/images/dzakh3.png" type="img/png" class="dzh_bl_img">
			<div class="dzh_bl_text"> 
			<div class="dbt_1" > СЕРВИС </div>
			<div class="dbt_2" > ВЫЕЗД И ДОСТАВКА </div>
			<div class="dbt_3" > Выездное обслуживание или доставка техники HP по Москве – от 30 минут. </div>
			</div>
		</div>
		<div class="dzakh_block dzakh_4"> 
		<img src="/images/dzakh4.png" type="img/png" class="dzh_bl_img">
			<div class="dzh_bl_text"> 
			<div class="dbt_1" > СЕРВИС </div>
			<div class="dbt_2" > СРОЧНЫЙ РЕМОНТ </div>
			<div class="dbt_3" > Устранение типовых неисправностей в течение 24 часов. Без переплаты. </div>
			</div>
		</div>


	</div>


	<div class="aj poni">
		<div class="aj_menu "> 	
			<div class="aj_menu_t1"> Изображение </div>
			<div class="aj_menu_t2"> Модель </div>
		</div>

		<% for(var i=0;i<product.length;i++){ %>
			<div class="aj_block aj_bl_1 ">
				<div class="aj_bl_img"> <img src="/images/<%=product[i]['nkar']%>" class="aj_bl_im" > </div>
				<div class="aj_bl_text"><%=product[i]['text']%></div>
				<div class="aj_bl_button" data-id="<%=product[i]['id']%>"> Купить </div>
				<div class="slaq_AJ"> <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i> </div>
			</div>
		<% } %>


		<div class="aj_drop ">  </div>
	
	</div>
</div>

<div class="pop-up" > 
	<div class="pop-up_inst" > Hide popup </div>
</div>
</body>
</html>

<script>
	/*function show(){
		$(".pop-up").show();
	}
	function hide(){
		$(".pop-up").hide();
		//$("pop-up_inst").hide();
	}*/
	
var hash=0	

/*if (screen.width <= "380"){
		$(".slaq_AJ").show(),
		$(".aj_bl_button").hide()
	} 
	else {
		$(".slaq_AJ").hide(),
		$(".aj_bl_button").show()
	}*/

if (screen.width <= "380"){
	screen.height= (+"60px")
	} 	
	
	
$(document).ready(function() { 

	/*$.ajax({
		type: "POST",
		url: "/apranq",
		dataType: 'json',
		data: {name: "Kapik"},

	}),*/

	$(".pop-up_inst").click(function(e){
		e.stopPropagation()
	})

	$(".aj_bl_button, .slaq_AJ").click(function(){
		var id=$(this).attr("data-id");
		console.log(id);
		$.ajax({
			type: "POST",
			url: "/apranq/sel/",
			dataType: 'json',
			data: {id: id},

		}),

		$(".pop-up").show()
	})
	
	$(".pop-up").click(function(){
		$(".pop-up").hide()
	})
	
	$(".menu_mb_3").click(
		function(){
			
			if (hash%2==0){
				$(".menu_mb_3").css({
					marginTop: "20px",
				})
				$(".menu_mb_3_0").css({
					position: "absolute"
				})
				$(".menu_mb_3_2").hide()
				$(".flex_M").hide()
				$(".menu_mb_3_1").css({
					marginLeft: "20px",
					transform: "rotate(45deg)"
				})
				$(".menu_mb_3_3").css({
					marginLeft: "20px",
					transform: "rotate(-45deg)"
				})
				$(".menu_list").show()
				$(".level_1, .search, .all").hide()
				$(".menu_mb_3_2").css({
					transform: "rotate(0deg)"
				})
			}	
			else {
				$(".menu_mb_3").css({
					marginTop: "10px",
				})
				$(".menu_mb_3_0").css({
					position: "relative"
				})
				$(".menu_mb_3_1").css({
					marginLeft: "auto",
					transform: "rotate(0deg)"
				})
				$(".menu_mb_3_3").css({
					marginLeft: "auto",
					transform: "rotate(0deg)"
				})
				$(".menu_list").hide()
				$(".menu_mb_3_2").show()
				$(".flex_M").show()
				$(".level_1, .search, .all").show()
				$(".menu_mb_3_2").css({
					transform: "rotate(360deg)"
				})
			}
			hash++
		}
	)
});





</script>