<%- include("./header.ejs"); -%>

<form action="/kontakt/a" method="POST"> 
anun <br/> 
<input class="togh" name="name"/> 
azganun <br/>
<input class="togh" name="azganun"/>
E-mail <br/>  
<input class="togh" name="mail"/> 
tariq <br/>
<input class="togh" name="tariq"/> 
ser <br/>
<select name="ser"> 
	<option value="0"> tgha </option>
	<option value="1"> aghjik </option>
	<option value="2"> esim inch </option>
</select> </br>
password <br/>
<input class="togh" name="password"/> 

<button class="knopka"> sexmi </button>

</form>