<%- include("./header.ejs"); -%>




<form action="/mutq/b" method="POST"> 
anun <br/> 
<input class="togh" name="name"/> 
password <br/>
<input class="togh" name="password"/> 

<button class="knopka"> mti </button>

</form>

<% if(imhushum=="5"){ %>
<p> chem gtel </p>
<% }else{%>
<p> barev dzez </p>
<% } %>
