@font-face {
    font-family: HPSimplified;
    src: url(/fonts/cyrillic-bold-ttf.ttf);
}
@font-face {
    font-family: HPSimplified;
    src: url(/fonts/cyrillic-light-ttf.ttf);
}
@font-face {
    font-family: HPSimplified;
    src: url(/fonts/cyrillic-regular-ttf.ttf);
}
 body{
	 margin: 0px;
 }

.button_x {
	width: 40px;
	height: 40px;
	background-color: #4146CB;
	color: white;
	margin-left: auto;
	margin-bottom: 20px;
	margin-right: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 25px;
	padding-top: 5px;
	box-sizing: border-box;
	font-family: HPSimplified;
	box-shadow: 2px 2px 10px rgba(7,0,0,0.58);
}

.payusak{
	width: 70px;
	height: 70px;
	background-color: #0098DA;
	color: white;
	border-radius: 50%;
	font-family: HPSimplified;
	font-size: 50px;
	position: fixed;
	right: 15px;
	top: 100px;
	text-align: center;
}

.tiv{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: red;
	color: white;
	font-family: inherit;
	position: absolute;
	right: 0px;
	top: -3px;

}

.total{
	width: 40px;
	height: 40px;
	background-color: #4146CB;
	color: white;
	margin-left: auto;
	margin-bottom: 20px;
	margin-right: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 25px;
	padding-top: 5px;
	box-sizing: border-box;
	font-family: HPSimplified;
	box-shadow: 2px 2px 10px rgba(7,0,0,0.58);
}

.cucak {
	border: 2px solid red;
	box-sizing: border-box;
}

.togh {
	display: block;
	margin-left: 15px;
	margin-top: 10px;
	
}
 
 .menu_mas.active {
	color: red; 
 }
 
.rooth {
	width: 1920px;
	margin: 0px auto;
}

.poni:after {
	content: "";
	display: block;
	clear: both;
}
.menu_mb {
	display: none;
}

.menu_list {
	display: none;
}
.flex_M {
	display: none;
}

.menu{
	height: 90px;
	background-color: white;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px -5px black;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	/*position: fixed;
	z-index: 100;*/
}


.menu_L {
	width: 447px;
	height: inherit;
	box-sizing: border-box;
}

.logo_img {
	margin-left: 100px;
	margin-top: 10px;
}

.menu_R {
	width: 1473px;
	height: inherit;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

.menu_mas {
	width: 199.5px;
	height: inherit;
	text-align: center;
	vertical-align: middle;
	font-family: HPSimplified;
	font-size: 16px;
	color: #5A5A5A;
	padding-top: 32px; 
}

.menu_mas:hover {
	background-color: #E0E4EA;
	cursor: grabbing;;
}

#menu_mas_6 {
	width: 476px;
	text-align: left;
	display: flex;
	flex-direction: row;
	white-space: pre-line;
	
}

.kont {
	flex: 1;
}

#kont_2 {
	margin-top: -12px;
	line-height: 15px;
}

.level_1 {
	height: 292px;
	background-color: #FBFBFB;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

.level_1L {
	width: 553px;
	height: inherit;
}

.level_1bottom {
	width: 256px;
	height: 66px;
	box-sizing: border-box;
	background-color: #0098DA;
	color: #FFFFFF;
	font-family: HPSimplified;
	font-size: 17px;
	text-align: center;
	padding-top: 18px;
	margin-left: 183px;
    margin-top: 106px;
}

.level_1C {
	width: 814px;
	height: inherit:
}

.level_1_text {
	width: 576px;
	height: 154px;
	font-family: HPSimplified;
	font-size: 20px;
	color: #5A5A5A;
	text-align: left;
	margin-top: 65px;
	padding: 0px;
	line-height: 30px;
	font-weight: lighter;
}

.level_1R {
	width: 553px;
	height: inherit;
}

.search {
	width: 814px;
	height: 90px;
	box-sizing: border-box;
	box-shadow: 0px 5px 29px -5px lightgrey;
	margin: 0px auto;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	position: relative;
	bottom: 45px;
	z-index: 10;
}

.search_text {
	width: inherit;
	height: 45px;
	box-sizing: border-box;
	text-align: left;
	color: black;
	font-family: HPSimplified;
	font-size: 14px;
	padding-top: 15px;
	margin-left: 5px;
}

.search_line {
	width: inherit;
	height: 45px;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	color: #0098DA;
	padding-left: 5px;
}

.search_in {
	width: 750px;
	height: 40px;
	border: 1px solid #0098DA;
	font-family: HPSimplified;
	font-size: 20px;
	
}

.dzakh {
	width: 382px;
	height: auto; /*1741px;*/
	float: left;
	margin-left: 121px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	position: relative;
	z-index: 10;
	bottom: 135px;
}

.dzakh_block {
	width: 382px;
	height: 400px;
	box-sizing: border-box;
	overflow: hidden;
}

.dzakh_1 {
	background-color: #FFDA00;
}

.dzh_bl_text {
	width: inherit;
	height: 200px;
	box-sizing: inherit;
	font-family: HPSimplified;
	position:relative;
	bottom: 400px;
	z-index: 10;
}

.dbt_1 {
	font-size: 16px;
	margin-left: 43px;
	margin-top: 28px;
}

.dbt_2 {
	font-size: 20px;
	margin-left: 43px;
	margin-top: 7px;
	font-weight: bold;
}

.dbt_3 {
	width: 256px;
	height: 45px;
	font-size: 14px;
	margin-left: 43px;
	margin-top: 24px
}

.dzakh_2 {
	margin-top: 47px;
	background-color: #0098DA;
}

.dzakh_3 {
	margin-top: 47px;
	background-color: #91E0FD;
}

.dzakh_4 {
	margin-top: 47px;
	background-color: #4146CB;
}

.aj{
	width: 1246px;
	height: 1651px;
	float: right;
	margin-right: 121px;
	display: flex;
	flex-direction: column;
}

.aj_menu {
	width: inherit;
	height: 41px;
	border-bottom: 1px solid #E0E4EA;
	box-sizing: border-box;
	color: #5A5A5A;
	font-family: HPSimplified;
	font-size: 16px;
	display: flex;
	flex-direction: row;
}

.slaq_AJ {
	display: none;
}

.aj_menu_t2 {
	margin-left: 260px;
}

.aj_block {
	width: inhert;
	height: 201px;
	box-sizing: border-box;
	border-bottom: 1px solid #E0E4EA;
	display: flex;
	flex-direction: row;
}

.aj_block:hover {
		border: none;
		box-shadow: 0px 5px 29px -5px lightgrey;
		cursor: pointer;
}
.aj_block:hover .aj_bl_button {
	background-color: #0098DA;
	color: #FFFFFF;
	cursor: pointer;
}

.aj_bl_img {
	width: 280px;
	height: 130px;
	box-sizing: border-box;
	margin-top: 50px;
}

.aj_bl_text {
	width: 749px;
	height: 170px;
	box-sizing:border-box;
	color: #000000;
	font-family: HPSimplified;
	font-size: 20px;
	font-weight: bold;
	white-space: pre-line;
	margin-top: 75px;
}


.aj_bl_button {
	width: 217px;
	height: 66px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	border: 1px solid #0098DA;
	margin-top: 75px;
	margin-right: 3px;
	color: #0098DA;
	text-align: center;
	padding-top: 15px;
	font-family: HPSimplified;
	font-size: 22px;
	transition: all 1s;
}

.pop-up {
	width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
	z-index: 1000;
	display: none;
}

.pop-up .pop-up_inst {
	margin:40px auto 0px auto;
    width:100px;
    height: 40px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}


@media(max-width:380px){
	.rooth {
		width: 100%;
	}
	
	.menu{
		display: none;
	}
	
	.menu_mb {
		width: 100%;
		height: 55px;
		box-sizing: border-box;
		box-shadow: 0px 0px 10px -5px black;
		display: flex;
		flex-direction: row;
	}
	
	.menu_mb_1 {
		width: 40%;
		height: inherit;
		float: center;
	}
	
	.logo_img {
		width: 55%;
		margin: 15px 20px;
	}
	
	.menu_mb_2 {
		width: 40%;
		height: inherit;
		text-align: center;
		vertical-align: middle;
		margin-top: 15px;
		
	}
	
	.menu_mb_3 {
		width: 20%;
		height: inherit;
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		
	}
	
	.menu_mb_3_0 {
		width: 35px;
		height: 1px;
		background: black;
	    text-align: center;
		margin: 5px auto;
		font-size: 16px;
		font-weight: bold;
		/*position: absolute;*/
	}
	.menu_mb_3_1 {
		transition: all 0.5s;
	}
	
	.menu_mb_3_2 {
		transition: all 0.3s;
	}
	
	 .menu_mb_3_3 {
		 transition: all 0.5s;
	 }
	 
	 .menu_list {
		 width: 100%;
		 height: 100%;
		 box-sizing: border-box;
	 }
	 
	 .flex_M {
		 width: 100%;
		 height: 55px;
		 box-sizing: border-box;
		 display: block;
		 background-color: #0098DA;
		 color: #FFFFFF;
		 font-family: HPSimplified;
		 font-size: 14px;
		 position: fixed;
		 bottom: 0px;
		 padding-top: 15px;
		 text-align: center;
		 z-index: 200000000;
		 
		 
	 }
	 
	 
	 .list_T {
		 box-sizing: border-box;
		 margin: 0px;
		 padding: 0px;
		 list-style-type: none;
		 font-family: HPSimplified;
		 font-size: 16px;
		 color: #5A5A5A;
		 text-align: left;
	 }
	 
	 .list_G {
		 box-sizing: border-box;
		 padding-top: 20px;
		 padding-left: 20px;
		 width: 100%;
		 height: 65px;
		 border-bottom: 1px solid #E0E4EA;
	 }
	 
	 .slaq1{
		 padding-left: 80%;
	 }
	 
	 .slaq2 {
		 padding-left: 68%;
	 }
	 
	 .dzakh {
		 display: none;
	 }
	 
	 .level_1 {
		 height: auto;
		 flex-direction: column-reverse;
	 }
	 
	 .level_1L {
		 display: none;
	 }
	 .level_1C {
		width: 100%;
		height: inherit;
	}

	.level_1_text {
		width: 100%;
		height: 154px;
		font-size: 12px;
		text-align: left;
		margin-top: 10px;
		padding: 0px;
		line-height: 20px;
		font-weight: lighter;
	}
	
	.level_1R {
		width: inherit;
		height: auto;
	}
	
	.level_1_img {
		width: 65%;
		margin-left: 70px;
	}
	
	.search {
		width: 100%;
	}
	
	.search_text {
		width: 90%;
	} 
	
	.aj {
		width: 100%;
		height: auto;
		float: nonne;
		margin-right: 0px;
	}
	
	.aj_menu {
		font-size: 12px;
		
	}
	
	.aj_menu_t1 {
		margin-left: 15px;
	}
	
	.aj_menu_t2 {
		margin-left: 80px;
	}
	
	.aj_block {
		width: 100%;
		height: 90px;
	}
	
	.aj_bl_img {
		width: 40%;
		height: auto;
		margin-top: 0px;
		margin-left: 15px;
	}
	
	.aj_bl_im {
		width: 60%;
		margin-top: 15px;
	}
	
	.aj_bl_text {
		width: 40%;
		height: auto;
		box-sizing: border-box;
		color: #000000;
		font-family: HPSimplified;
		font-size: 12px;
		font-weight: bold;
		white-space: pre-line;
		margin-top: 25px;
	}
	
	.aj_bl_button {
		width: 20%;
		height: auto;
		margin-top: 5px;
		display: none;
	}
	
	.slaq_AJ {
		display: block;
		margin: 25px auto;
		color: #0098DA;
	}
	
}





